:root {
    --color-fondo-claro: #ffffff;
    --color-texto-claro: black;
    --color-link-claro: blue;
    --color-fondo-oscuro: rgba(0, 0, 0, 0.83);
    --color-texto-oscuro: #ffffff;
    --color-link-oscuro: #00c8ff;
    --color-background-input: #c8c8c847;
  }
  
  body {
    background-color: var(--color-fondo-claro);
    color: var(--color-texto-claro);
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.modo-oscuro {
    background-color: var(--color-fondo-oscuro);
    color: var(--color-texto-oscuro);
  }

.titulo {
    text-align: center;
    color: red;
}

.resultado {
    /* border: 2px solid grey; */
    width: 98%;
    margin: 0 auto;
    height: 500px;
    overflow-y: auto;
}

p {
  font-size: 20px;
}
h3 {
  font-size: 24px;
}
a {
  font-weight: bold;
  color: var(--color-link-claro);
  margin-right: 5px;
}

a:visited {
  color: var(--color-link-claro);
}

body.modo-oscuro a {
  color: var(--color-link-oscuro);
}

body.modo-oscuro a:visited {
  color: var(--color-link-oscuro);
}

body.modo-oscuro input[type="text"] {
  background-color: var(--color-background-input);
  color: white;
}

body.modo-oscuro input[type="text"]::placeholder {
  color: #c0c0c0;
}

.cabecera {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.cabecera h3 {
  margin-right: 10px;
}

.cabecera h3:hover {
  color:blue;
}

.selected {
  color:blue;
}

body.modo-oscuro .selected {
  color: var(--color-link-oscuro);
}

body.modo-oscuro .cabecera h3:hover{
  color: var(--color-link-oscuro);
}

.cuerpo {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
}